@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="AddEditExpenses" class="btn btn-outline-info">Expenses Overview</a>
    <a asp-controller="Home" asp-action="AddEditExpenses" class="btn btn-primary">Create Expense</a>
</div>
